.DS_Store
__pycache__/
*.pyc
psychopy_gurung/data/
psychopy_gurung/recordings/
psychopy_gurung/Stimuli/
psychopy_gurung_v1/data/
psychopy_gurung_v1/recordings/
psychopy_gurung_v1/debug_gurung_runtime.log
between_trials/Nepal 2025/
